@model MvcWebRole.Models.SubscribeVM

@{
    ViewBag.Title = "Subscribe";
    Layout = null;
}

<h2>Email List Subscription Service</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Subscribe to Mailing List</legend>

        <div class="editor-label">
            <p>
                Email address  @Html.DisplayFor(model => model.EmailAddress)  has been subscribed to:  @Html.DisplayFor(model => model.ListDescription).
            </p>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
